[submodule "modules/VtNetCore"]
	path = modules/VtNetCore
	url = https://github.com/darrenstarr/VtNetCore.git
[submodule "modules/SSH.NET"]
	path = modules/SSH.NET
	url = https://github.com/darrenstarr/SSH.NET.git
[submodule "modules\\VtConnect"]
	path = modules\\VtConnect
	url = https://github.com/darrenstarr/VtConnect.git
